body{
    background-color: yellow;
}
h1{
    text-align: center;
}
.sunflower {
    width: 100px;
    height: 100px;
    background-image: url('./img/g1.png'); /* Asegúrate de tener una imagen de girasol llamada 'sunflower.png' en la misma carpeta */
    background-size: cover;
    position: absolute;
    animation: spin 5s linear infinite;
}

/* Animación de girar */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
